@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Jetbrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Jetbrains Mono";
  src: url("/fonts/JetbrainsMono-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  font-family: "Jetbrains Mono";
}
* {
  scrollbar-color: #5255e2;
}
*::-webkit-scrollbar-thumb {
  background-color: #5255e2;
}

::selection {
  background: rgb(82, 85, 226);
  color: #f5f5f5;
}

a,
button {
  cursor: pointer;
}

svg {
  height: 20px;
}

.max-w-custom {
  max-width: 960px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}
