@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #f5f5f5;
  background-color: #1a1a1f;
}

.hero {
  min-height: 80vh;
}

.charcoal-clear {
  background-color: rgba(245, 245, 245, 0.05);
}

.nextjs {
  color: #fff;
  background-color: #000;
}

.react {
  color: #fff;
  background-color: #21c1ed;
}

.shopify {
  color: rgb(22 163 74);
  background-color: rgb(220 252 231);
}

.supabase {
  color: #fff;
  background-color: #34b27b;
}

.wordpress {
  color: rgb(2 132 199);
  background-color: rgb(224 242 254);
}

.vercel {
  color: #fff;
  background-color: #f81ce5;
}

.tech-stack div svg {
  fill: #9ca3af;
  width: 35px;
  height: 50px;
}

.eq-bar {
  transform: scale(1, -1) translate(0, -24px);
}

.eq-bar--1 {
  animation-name: short-eq;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.eq-bar--1 {
  animation-name: short-eq;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.eq-bar--2 {
  animation-name: tall-eq;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-delay: 0.17s;
}

.eq-bar--3 {
  animation-name: short-eq;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-delay: 0.34s;
}

@keyframes short-eq {
  0% {
    height: 8px;
  }

  50% {
    height: 4px;
  }

  100% {
    height: 8px;
  }
}

@keyframes tall-eq {
  0% {
    height: 16px;
  }

  50% {
    height: 6px;
  }

  100% {
    height: 16px;
  }
}
